{% extends 'base.html' %}
{% block blogactive %}active{% endblock blogactive %}
{% block body %}
<div class="container">
  <h1 class=""my-3">Welcome to Immunization blog</h1>
  {% for immunization in immunizations %}
  <div class="my-4">
    <h3 class="text-dark"><a href="/immunizationpost/{{immunization.slug}}" class = "text-dark">{{immunization.title}}</a></h3>
    <div class = "my-2">
    {{immunization.content|slice:115}}...
    </div>
    <a href="/immunizationpost/{{immunization.slug}}" class = "text-dark"><button class="btn btn-primary">Read more....</button></a>
</div>
{% endfor %}
{% endblock body %}